.country {
  box-shadow: 1px 1px 5px var(--color-light-input);
  height: 30rem;
  border-radius: 0.8rem;
}

.country_imagelink {
  width: 100%;
  display: inline-block;
  height: 17rem;
  position: relative;
}

.country_imagelink img {
  object-fit: cover;
  width: 100%;
}

.country_details {
  height: 13rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

.country_name {
  margin-bottom: 1rem;
  font-weight: 800;
}

.country_info {
  font-weight: 600;
}

.bold {
  font-weight: 800;
}
