.header_nav {
  background-color: var(--color-white);
  height: 6rem;
  border-bottom: 5px solid var(--color-light-bg);
}

.header_nav_inner {
  height: 100%;
  max-width: 120rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header_link {
  font-weight: 800;
  font-size: 1.6rem;
}

.toggle_btn {
  width: 7%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: 600;
}
