.country_details {
  padding: 6rem 0;
  min-height: calc(100vh - 6rem);
  background-color: var(--theme-bg);
}

.country_details_inner {
  max-width: 89%;
  margin: 0 auto;
}

.return_btn_cont {
  margin-bottom: 5rem;
}

.return_btn {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--theme-layout-bg);
  box-shadow: 1px 1px 5px var(--theme-input-bs);
  height: 100%;
  padding: 0.8rem 2.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
  color: var(--theme-text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.return_btn:hover {
  box-shadow: 0.7px 0.7px 3px var(--theme-input-bs);
}

.return_btn:active {
  box-shadow: 0.5px 0.5px 1.5px var(--theme-input-bs);
}

.return_btn_icon {
  display: inline-block;
  margin-right: 1rem;
}

.country {
  display: flex;
  justify-content: space-between;
}

.country_image_cont {
  width: 35%;
  height: 30rem;
  position: relative;
}

.country_image_cont img {
  object-fit: cover;
  width: 100%;
}

.country_detail {
  width: 60%;
  height: 25rem;
  padding: 3rem 0;
  color: var(--theme-text);
}

.country_name {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.country_meta {
  display: flex;
  margin-bottom: 5rem;
}

.country_meta_l,
.country_meta_r {
  flex-basis: 50%;
}

.meta_l {
  font-weight: 800;
  font-size: 1.4rem;
}

.meta_r {
  font-size: 1.4rem;
}

.meta_p {
  margin-bottom: 1rem;
}

.border_country_btn {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--theme-layout-bg);
  box-shadow: 1px 1px 5px var(--theme-input-bs);
  padding: 0.5rem 1.5rem;
  transition: 0.2s ease-in-out all;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: var(--theme-text);
  margin-bottom: 0.4rem;
  display: inline-block;
}

@media (max-width: 800px) {
  .country {
    flex-direction: column;
  }

  .return_btn_cont {
    margin-bottom: 7rem;
  }

  .country_image_cont {
    height: 35rem;
    width: 100%;
  }

  .country_image_cont img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .country_name {
    margin-bottom: 2rem;
  }

  .country_meta {
    flex-direction: column;
  }

  .country_meta_l {
    margin-bottom: 3rem;
  }

  .country_detail {
    height: auto;
    width: 100%;
    padding: 0;
    margin-top: 5rem;
  }

  .country_meta {
    margin-bottom: 3rem;
  }

  .meta_l_border {
    display: block;
    margin-bottom: 1rem;
  }
}
